<div class="container-fluid w-100 h-100 d-flex justify-content-center align-items-center ">
   <mat-card class="d-md-flex pb-md-3 w-75 shadow" >   
        <div class="logo col-md-7">
            <img src="../../../assets/img/logo.jpg" alt="" srcset="" class="">
        </div>
        <div class="form-container col-md-5">
            <h2 class="header"><span>Login</span> your account</h2>

           <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="form" >
            <mat-form-field  appearance="outline" class="w-100">
                <mat-label>User Name</mat-label>
                <input type="email" matInput placeholder="Ex. example@example.com" value="" formControlName="userName" required>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Enter Password</mat-label>
                <input type="password" matInput placeholder="Password" value="" formControlName="userPassword" required>
            </mat-form-field>          
              <p><a routerLink="/forgot">Forgot your password?</a></p>
              <button mat-flat-button color="primary" [disabled]="!loginForm.valid" class="w-100" >Register</button>
           </form>
           <h2 class="footer"><a routerLink="/register" ><span>Create</span> a new account</a></h2>
        </div>
    
   </mat-card>
  
 </div>


