<div class="container-fluid w-100 h-100 d-flex justify-content-center align-items-center ">
   <mat-card class="d-md-flex pb-md-3 w-75 shadow" >   
        <div class="logo col-md-7">
            <img src="../../../assets/img/logo.jpg" alt="" srcset="" class="">
        </div>
        <div class="form-container col-md-5">
            <h2 class="header"><span>Register</span> new account</h2>

           <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate  >
            <mat-form-field  appearance="outline" class="w-100">
                <mat-label>User Name</mat-label>
                <input type="email" matInput placeholder="Ex. example@example.com" value="" formControlName="userName" autocomplete="off" required>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Enter Password</mat-label>
                <input type="password" matInput placeholder="Password" value="" formControlName="userPassword" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Repeat Password</mat-label>
                <input type="password" matInput placeholder="Password" value="" formControlName="userSecondPassword" autocomplete="off" required>
            </mat-form-field>
              
              <button mat-flat-button color="primary" [disabled]="!loginForm.valid" class="w-100 mb-3" >Register</button>
           </form>
           
        </div>
    
   </mat-card>
  
 </div>

 <!-- <mat-card class="w-75 shadow-lg d-flex justify-content-center">
    <div class="row d-sm-flex">
        <div class="col-lg-7 logo ">
           <img src="../../../assets/img/logo.jpg" alt="" srcset="" class="">
        </div>
        <div class="col-5 d-flex flex-column align-items-center p-3">
           <h2 class="header"><span>Login</span> your account</h2>

           <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="form border" >
            <mat-form-field  appearance="outline" class="w-100">
                <mat-label>User Name</mat-label>
                <input type="email" matInput placeholder="Ex. example@example.com" value="" formControlName="userName" required>
              </mat-form-field>
            <mat-form-field  appearance="outline" class="w-100">
                <mat-label>User Password</mat-label>
                <input type="password" matInput placeholder="Password" value="" formControlName="userPassword" required>
              </mat-form-field>
              <p><a href="#" class="forgot">Forgot password?</a></p>
              <button mat-flat-button color="primary" [disabled]="!loginForm.valid" class="w-100" >Login</button>
           </form>
           <h2 class="footer"><a href=""><span>Create</span> your account</a></h2>
          
        </div>
      </div>
</mat-card> -->